@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.scrollbar::-webkit-scrollbar{
  width: 6px;
}
.scrollbar::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: rgb(49, 46, 46);
}